// Body
$body-bg: #f8fafc;
$baroccoBlue:#00203f;
$blueGradient:#101FBA;
$baroccoBrown:#87745B;

// Typography
$font-family-sans-serif: 'Libre Baskerville', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
